.toolIcon {
    height: 100%;
}

.toolIcon:hover {
    background-color: rgb(101, 84, 121);
}

.toolIcon.selected {
    background-color: rgb(78, 55, 105);
}

.toolIcon.selected:hover {
    background-color: rgb(78, 55, 105);
}