.toolBar {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        padding: 2px;
        gap: 2px;
        background-color: rgb(55, 46, 66);
        position: absolute;
        height: 5vh;
        width: fit-content;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
}