.boxSetting {
    display: flex;
    flex-direction: column;
    gap:5px;
    margin: 0;
    padding: 5px;
    background-color: rgb(55, 46, 66);
    height: fit-content;
    width: 10vw;
    font-size: 15px;
    position:fixed;
    z-index: 10;
    top: 15%;
    left: 1%;
}

.show {
    display : grid;
    grid-template-columns: auto auto auto;

}

.hide {
    display: none;
}


.slider {
  width: 100%;
  height: 12px;
  background: #8c7e9c;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  background: #644399;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #644399;
  cursor: pointer;
}
