/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

html, body {
  margin: 0;        /* Remove default margin */
  padding: 0;       /* Remove default padding */
  height: 100%;     /* Make sure html and body take full height */
  overflow: hidden; /* Prevent scrollbars from appearing */
}

* {
  box-sizing: border-box;
  margin : 0;
  padding : 0;
}

.shareButton {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 5px;
  gap: 4px;
  background-color: rgb(55, 46, 66);
  position: absolute;
  height: 5vh;
  width: fit-content;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  right : 10%;
}

.appDiv {
  margin: 0;        /* Remove default margin */
  padding: 0;       /* Remove default padding */
  height: 100%;     /* Make sure html and body take full height */
  overflow: hidden; /* Prevent scrollbars from appearing */
  z-index: 100;
}